<EditForm
    Model="@_person"
    OnSubmit="Submit">
    
    @if (IncludeWithAttribute)
    {
        @* <p>Can't implement.. bugged?</p> *@
    }
    else
    {
        <FluentValidationValidator @ref="_fluentValidationValidator"/>
    }
    <ValidationSummary/>

    <p>
        <label>First name: </label>
        <InputText name="@nameof(Person.FirstName)" @bind-Value="@_person.FirstName"/>
    </p>

    <button type="submit">Save</button>
</EditForm>

@code {
    [Parameter] public bool IncludeWithAttribute { get; set; }
    [Parameter] public bool IncludeWithCode { get; set; }
    
    private readonly Person _person = new();
    private FluentValidationValidator? _fluentValidationValidator;

    public ValidationResultType? Result { get; private set; }
    
    protected void Submit()
    {
        var result = _fluentValidationValidator!.Validate(o => o.IncludeRuleSets("Names"));
        Result = result ? ValidationResultType.Valid : ValidationResultType.Error;
    }
}